<div class="dialog-content">
  <h2>Detaille</h2>
  <p><strong>Nom:&nbsp;</strong> {{ data.name }}</p>
  <p>
    <strong>Profile:&nbsp;</strong>
    {{ data.profil }}
  </p>
  <p>
    <strong>Disponibilité:&nbsp;</strong>
    {{ data.disponibility ? "Oui" : "Non" }}
  </p>
  <p>
    <strong>Adresse:&nbsp;</strong>
    {{ data.address }}
  </p>
  <p>
    <strong>Age:&nbsp; </strong>
    {{ data.age }}
  </p>
  <p>
    <strong>Numéro de téléphone:&nbsp; </strong>
    {{ data.phoneNumber }}
  </p>
</div>
