<mat-form-field>
  <mat-label>Filtrer</mat-label>
  <input matInput (keyup)="applyTextFilter($event)" />
</mat-form-field>
<div class="row">
  <mat-radio-group [(ngModel)]="selectedOption" (change)="change(selectedOption)">
    <mat-label><b>Disponibilité : </b> </mat-label>
    <mat-radio-button value="all">Tous</mat-radio-button>
    <mat-radio-button value="available">Disponibles</mat-radio-button>
    <mat-radio-button value="notAvailable">Nos Disponibles</mat-radio-button>
  </mat-radio-group>
</div>
